extends layout

block js
  script(src="../javascripts/jquery-2.1.3.min.js")
  script(src="../javascripts/arena.js")

block content
  .header
    h1= 'Welcome, ' + player
    .error
    h2.status It is <span class="playerturn"></span> turn
  
  .main
    .sidepanel
      //TODO: position this nicer
    .arena
      .pile
        .pile_place
          .card.stock 
            .stocksize
              div
          .description stock
        .pile_place
            .card.discardpile
              div
            .description discard
        .pile_place
          .card
            .hints
          .description hints 
        .pile_place
          .card
            .lives
          .description lives 
        .pile_place
          .card
            .points
          .description points

      .table
        each color in COLORS
          .colorclass(class=color)

    .players
      .yourHand.player(js_turn, js_player=player.toLowerCase())
        h3 your hand:
        .hand
          each card in game.yourHand(player)
            .card.selectable(js_function='known')
              div
          .card_options.controls
            button.card_option.discard_card discard
            button.card_option.play_card play
            
      
      each otherPlayer in game.otherPlayers(player)
        .player(js_player=otherPlayer.name.toLowerCase())
          h3= otherPlayer.name + "'s hand"
          .playerCards
            .hand
              each card in otherPlayer.hand
                .cardholder
                  .card
                    div
                  .knowncard(js_function='known')
                    div

            div(js_turn='false')
              table.controls
                tr
                  td hint:
                  each color in COLORS
                    td.hintButton(js_hint='color', js_val=color, style="background-color:"+color+"; display: none")
                tr
                  td
                  each number in [1,2,3,4,5]
                    td.hintButton(js_hint='number', js_val=number, style="display: none")=number

  // open a socket:
  script(src="/socket.io/socket.io.js")
  script SOCKET = io();
  script PLAYER = '#{player}'
