extends layout

block content
  h1 Welcome,  #{name}

  p your games: #{games.length}
  div
    ul
      each game in games
        li 
          form(action='/arena', method='get')
            input(type='submit', id='game_'+game.id, value='game')
            input(type='hidden', name="player", value=name)
            input(type='hidden', name='game_id', value=game.id)
            - var players = '';
            - game.players.forEach(function(p, i, c){if(p.name.toLowerCase()!=name.toLowerCase())players += p.name+(i<c.length-2?', ':';')})
            - var whosTurn = game.hisTurn(name)?'it is your turn':'it is '+game.whosTurn()+"'s turn"
            - var status = game.lives>0?whosTurn:'GAME OVER with ' + game.points() + ' points'
            label(for='game_'+game.id) with #{players} it is #{whosTurn} turn
      li
        form(action='/startgame', method='post')
          input(type='submit', value='Start new game')
          label(for="players") with
          input(type="text" value="" name="players" id="players")
          label(for="players") (seperate names with comma)
          input(type="hidden" value=name name="name")
          

